In [14]:
#importamos librerÃ­a
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder,MinMaxScaler

In [108]:
pip install jinja2

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting jinja2
  Downloading jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Downloading MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl.metadata (3.1 kB)
Downloading jinja2-3.1.4-py3-none-any.whl (133 kB)
   ---------------------------------------- 0.0/133.3 kB ? eta -:--:--
   ---------------------------------------  133.1/133.3 kB 8.2 MB/s eta 0:00:01
   ---------------------------------------- 133.3/133.3 kB 2.6 MB/s eta 0:00:00
Downloading MarkupSafe-2.1.5-cp312-cp312-win_amd64.whl (17 kB)
Installing collected packages: MarkupSafe, jinja2
Successfully installed MarkupSafe-2.1.5 jinja2-3.1.4

In [13]:
pip install -U scikit-learn

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting scikit-learn
  Downloading scikit_learn-1.4.2-cp312-cp312-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from scikit-learn) (1.26.4)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.13.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.6 kB ? eta -:--:--
     ---------------------------------------- 60.6/60.6 kB 1.6 MB/s eta 0:00:00
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=2.0.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.4.2-cp312-cp312-win_amd64.whl (10.6 MB)
   ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
   -- ------------------------------------- 0.7/10.6 MB 14.8 MB/s eta 0:00:01
   ----- ---------------------------------- 1.4/10.6 MB 11.5 MB/s eta 0:00:01
   -------- ------------------------------- 2.2/10.6 MB 11.5 MB/s eta 0:00:01
   ----------- ---------------------------- 3.1/10.6 MB 12.4 MB/s eta 0:00:01
   --------------- ------------------------ 4.0/10.6 MB 12.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/10.6 MB 11.9 MB/s eta 0:00:01
   -------------------- ------------------- 5.4/10.6 MB 12.3 MB/s eta 0:00:01
   ----------------------- ---------------- 6.3/10.6 MB 12.7 MB/s eta 0:00:01
   ------------------------- -------------- 6.7/10.6 MB 11.6 MB/s eta 0:00:01
   -------------------------- ------------- 7.1/10.6 MB 9.7 MB/s eta 0:00:01
   --------------------------- ------------ 7.2/10.6 MB 8.7 MB/s eta 0:00:01
   ----------------------------- ---------- 7.9/10.6 MB 8.7 MB/s eta 0:00:01
   -------------------------------- ------- 8.6/10.6 MB 8.9 MB/s eta 0:00:01
   ------------------------------------ --- 9.7/10.6 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------  10.5/10.6 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------  10.6/10.6 MB 9.6 MB/s eta 0:00:01
   ---------------------------------------- 10.6/10.6 MB 8.6 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
   ---------------------------------------- 0.0/301.8 kB ? eta -:--:--
   --------------------------------------  297.0/301.8 kB 17.9 MB/s eta 0:00:01
   ---------------------------------------- 301.8/301.8 kB 3.1 MB/s eta 0:00:00
Downloading scipy-1.13.0-cp312-cp312-win_amd64.whl (45.9 MB)
   ---------------------------------------- 0.0/45.9 MB ? eta -:--:--
    --------------------------------------- 0.7/45.9 MB 23.8 MB/s eta 0:00:02
   - -------------------------------------- 1.5/45.9 MB 19.0 MB/s eta 0:00:03
   -- ------------------------------------- 2.4/45.9 MB 16.6 MB/s eta 0:00:03
   -- ------------------------------------- 3.1/45.9 MB 15.4 MB/s eta 0:00:03
   --- ------------------------------------ 3.7/45.9 MB 14.7 MB/s eta 0:00:03
   --- ------------------------------------ 3.8/45.9 MB 11.6 MB/s eta 0:00:04
   --- ------------------------------------ 4.4/45.9 MB 11.3 MB/s eta 0:00:04
   ---- ----------------------------------- 5.3/45.9 MB 11.6 MB/s eta 0:00:04
   ----- ---------------------------------- 6.3/45.9 MB 12.2 MB/s eta 0:00:04
   ------ --------------------------------- 7.0/45.9 MB 12.0 MB/s eta 0:00:04
   ------ --------------------------------- 7.9/45.9 MB 12.6 MB/s eta 0:00:04
   ------- -------------------------------- 8.3/45.9 MB 11.7 MB/s eta 0:00:04
   ------- -------------------------------- 8.8/45.9 MB 11.8 MB/s eta 0:00:04
   -------- ------------------------------- 9.5/45.9 MB 11.7 MB/s eta 0:00:04
   -------- ------------------------------- 10.3/45.9 MB 11.7 MB/s eta 0:00:04
   --------- ------------------------------ 10.8/45.9 MB 11.1 MB/s eta 0:00:04
   ---------- ----------------------------- 11.7/45.9 MB 10.9 MB/s eta 0:00:04
   ---------- ----------------------------- 12.4/45.9 MB 10.9 MB/s eta 0:00:04
   ----------- ---------------------------- 13.1/45.9 MB 10.9 MB/s eta 0:00:04
   ----------- ---------------------------- 13.6/45.9 MB 10.6 MB/s eta 0:00:04
   ------------ --------------------------- 14.5/45.9 MB 11.7 MB/s eta 0:00:03
   ------------- -------------------------- 15.1/45.9 MB 11.7 MB/s eta 0:00:03
   ------------- -------------------------- 15.4/45.9 MB 10.9 MB/s eta 0:00:03
   ------------- -------------------------- 15.7/45.9 MB 10.6 MB/s eta 0:00:03
   -------------- ------------------------- 16.3/45.9 MB 10.4 MB/s eta 0:00:03
   -------------- ------------------------- 16.9/45.9 MB 10.2 MB/s eta 0:00:03
   --------------- ------------------------ 17.4/45.9 MB 10.1 MB/s eta 0:00:03
   --------------- ------------------------ 18.0/45.9 MB 9.9 MB/s eta 0:00:03
   ---------------- ----------------------- 18.7/45.9 MB 10.6 MB/s eta 0:00:03
   ----------------- ---------------------- 19.7/45.9 MB 10.7 MB/s eta 0:00:03
   ----------------- ---------------------- 20.3/45.9 MB 10.7 MB/s eta 0:00:03
   ------------------ --------------------- 21.0/45.9 MB 10.7 MB/s eta 0:00:03
   ------------------- -------------------- 21.8/45.9 MB 10.9 MB/s eta 0:00:03
   ------------------- -------------------- 22.6/45.9 MB 10.7 MB/s eta 0:00:03
   -------------------- ------------------- 23.1/45.9 MB 10.7 MB/s eta 0:00:03
   -------------------- ------------------- 23.8/45.9 MB 10.7 MB/s eta 0:00:03
   --------------------- ------------------ 24.8/45.9 MB 10.9 MB/s eta 0:00:02
   ---------------------- ----------------- 25.5/45.9 MB 11.3 MB/s eta 0:00:02
   ---------------------- ----------------- 25.7/45.9 MB 11.5 MB/s eta 0:00:02
   ----------------------- ---------------- 26.5/45.9 MB 11.5 MB/s eta 0:00:02
   ----------------------- ---------------- 27.5/45.9 MB 12.1 MB/s eta 0:00:02
   ------------------------ --------------- 28.3/45.9 MB 12.1 MB/s eta 0:00:02
   ------------------------- -------------- 28.7/45.9 MB 11.7 MB/s eta 0:00:02
   ------------------------- -------------- 29.7/45.9 MB 11.5 MB/s eta 0:00:02
   -------------------------- ------------- 30.7/45.9 MB 12.1 MB/s eta 0:00:02
   --------------------------- ------------ 31.5/45.9 MB 11.9 MB/s eta 0:00:02
   ---------------------------- ----------- 32.5/45.9 MB 12.4 MB/s eta 0:00:02
   ----------------------------- ---------- 33.5/45.9 MB 13.6 MB/s eta 0:00:01
   ----------------------------- ---------- 34.3/45.9 MB 13.9 MB/s eta 0:00:01
   ------------------------------- -------- 35.8/45.9 MB 15.2 MB/s eta 0:00:01
   -------------------------------- ------- 37.6/45.9 MB 17.7 MB/s eta 0:00:01
   --------------------------------- ------ 38.8/45.9 MB 19.3 MB/s eta 0:00:01
   ---------------------------------- ----- 39.3/45.9 MB 19.8 MB/s eta 0:00:01
   ----------------------------------- ---- 40.6/45.9 MB 19.9 MB/s eta 0:00:01
   ------------------------------------ --- 41.9/45.9 MB 21.8 MB/s eta 0:00:01
   ------------------------------------- -- 43.1/45.9 MB 21.8 MB/s eta 0:00:01
   -------------------------------------- - 44.1/45.9 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  45.3/45.9 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 21.8 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 21.8 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 21.8 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 21.8 MB/s eta 0:00:01
   ---------------------------------------- 45.9/45.9 MB 14.9 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.4.2 scipy-1.13.0 threadpoolctl-3.5.0

In [4]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ---------------------------------------- 0.0/294.9 kB ? eta -:--:--
   ---------------------------------------- 294.9/294.9 kB 9.2 MB/s eta 0:00:00
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Collecting matplotlib
  Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.51.0-cp312-cp312-win_amd64.whl.metadata (162 kB)
     ---------------------------------------- 0.0/162.8 kB ? eta -:--:--
     ----------------------------------- -- 153.6/162.8 kB 9.0 MB/s eta 0:00:01
     -------------------------------------- 162.8/162.8 kB 2.5 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl.metadata (6.5 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib) (24.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl.metadata (9.4 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.1.2-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\rafas\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Downloading matplotlib-3.9.0-cp312-cp312-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   ----- ---------------------------------- 1.2/8.0 MB 37.7 MB/s eta 0:00:01
   ------------ --------------------------- 2.4/8.0 MB 25.9 MB/s eta 0:00:01
   --------------- ------------------------ 3.1/8.0 MB 20.1 MB/s eta 0:00:01
   ------------------ --------------------- 3.7/8.0 MB 18.2 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.0 MB 17.6 MB/s eta 0:00:01
   --------------------------- ------------ 5.4/8.0 MB 17.4 MB/s eta 0:00:01
   ------------------------------- -------- 6.2/8.0 MB 17.2 MB/s eta 0:00:01
   ----------------------------------- ---- 7.0/8.0 MB 16.6 MB/s eta 0:00:01
   ---------------------------------------  8.0/8.0 MB 17.0 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 15.0 MB/s eta 0:00:00
Downloading contourpy-1.2.1-cp312-cp312-win_amd64.whl (189 kB)
   ---------------------------------------- 0.0/189.9 kB ? eta -:--:--
   ---------------------------------------- 189.9/189.9 kB 3.8 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.51.0-cp312-cp312-win_amd64.whl (2.2 MB)
   ---------------------------------------- 0.0/2.2 MB ? eta -:--:--
   --------------- ------------------------ 0.8/2.2 MB 17.9 MB/s eta 0:00:01
   ----------------------------------- ---- 1.9/2.2 MB 17.6 MB/s eta 0:00:01
   ---------------------------------------  2.2/2.2 MB 15.4 MB/s eta 0:00:01
   ---------------------------------------- 2.2/2.2 MB 10.7 MB/s eta 0:00:00
Downloading kiwisolver-1.4.5-cp312-cp312-win_amd64.whl (56 kB)
   ---------------------------------------- 0.0/56.0 kB ? eta -:--:--
   ---------------------------------------- 56.0/56.0 kB 1.4 MB/s eta 0:00:00
Downloading pillow-10.3.0-cp312-cp312-win_amd64.whl (2.5 MB)
   ---------------------------------------- 0.0/2.5 MB ? eta -:--:--
   ---------------- ----------------------- 1.1/2.5 MB 22.7 MB/s eta 0:00:01
   ---------------------------------- ----- 2.2/2.5 MB 17.4 MB/s eta 0:00:01
   ---------------------------------------  2.5/2.5 MB 17.9 MB/s eta 0:00:01
   ---------------------------------------- 2.5/2.5 MB 13.4 MB/s eta 0:00:00
Downloading pyparsing-3.1.2-py3-none-any.whl (103 kB)
   ---------------------------------------- 0.0/103.2 kB ? eta -:--:--
   ---------------------------------------  102.4/103.2 kB ? eta -:--:--
   ---------------------------------------- 103.2/103.2 kB 1.2 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.2.1 cycler-0.12.1 fonttools-4.51.0 kiwisolver-1.4.5 matplotlib-3.9.0 pillow-10.3.0 pyparsing-3.1.2

In [17]:
renfe = pd.read_csv("./renfe.csv")

# Reading file:

In [18]:
renfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383568 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  383568 non-null  object
 1   FECHA_INICIO    383568 non-null  object
 2   FECHA_FIN       383568 non-null  object
 3   CIUDAD_ORIGEN   383568 non-null  object
 4   CIUDAD_DESTINO  383568 non-null  object
 5   TIPO_TREN       345211 non-null  object
 6   TIPO_TARIFA     344009 non-null  object
 7   CLASE           344000 non-null  object
 8   PRECIO          355038 non-null  float64
dtypes: float64(1), object(8)
memory usage: 26.3+ MB

In [20]:
renfe.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75

# Checking nulls in our datasheet

In [23]:
renfe.isnull().sum()

FECHA_CONSULTA        0
FECHA_INICIO          0
FECHA_FIN             0
CIUDAD_ORIGEN         0
CIUDAD_DESTINO        0
TIPO_TREN         38357
TIPO_TARIFA       39559
CLASE             39568
PRECIO            28530
dtype: int64

In [28]:
renfe.isnull().sum()

FECHA_CONSULTA        0
FECHA_INICIO          0
FECHA_FIN             0
CIUDAD_ORIGEN         0
CIUDAD_DESTINO        0
TIPO_TREN         38357
TIPO_TARIFA       39559
CLASE             39568
PRECIO            28530
dtype: int64

# Deleting rows where PRECIO is null, as PRECIO is our Target

In [33]:
renfe2 = renfe.copy()

In [34]:
renfe2.dropna(subset=["PRECIO"], inplace=True)

In [35]:
renfe2.isnull().sum()

FECHA_CONSULTA        0
FECHA_INICIO          0
FECHA_FIN             0
CIUDAD_ORIGEN         0
CIUDAD_DESTINO        0
TIPO_TREN         35443
TIPO_TARIFA       35453
CLASE             35554
PRECIO                0
dtype: int64

# will decide what to do with rest of nulls later on
# Now weÂ´ll check duplicates and will delete them

In [36]:
renfe2.duplicated().sum()

10

In [37]:
renfe2.duplicated().value_counts()

False    355028
True         10
Name: count, dtype: int64

In [38]:
renfe2[renfe2.duplicated(keep=False)]

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO
8530,2019-06-10 01:10:54,2019-07-07 21:03:00,2019-07-07 23:28:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75
14256,2019-05-03 05:33:32,2019-05-24 15:10:00,2019-05-24 17:20:00,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75
35335,2019-04-30 09:09:51,2019-05-19 17:30:00,2019-05-19 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
82429,2019-04-30 09:09:51,2019-05-19 17:30:00,2019-05-19 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
84721,2019-06-19 23:28:29,2019-06-23 21:03:00,2019-06-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSÃ³lo plaza H,55.40
95146,2019-06-12 11:51:44,2019-06-16 17:30:00,2019-06-16 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSÃ³lo plaza H,55.40
100880,2019-04-21 08:08:16,2019-04-28 17:30:00,2019-04-28 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
107458,2019-06-12 11:51:44,2019-06-16 17:30:00,2019-06-16 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSÃ³lo plaza H,55.40
116386,2019-06-17 21:00:29,2019-06-23 21:03:00,2019-06-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSÃ³lo plaza H,55.40
139581,2019-08-18 17:34:03,2019-08-23 21:03:00,2019-08-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
191339,2019-08-18 17:34:03,2019-08-23 21:03:00,2019-08-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
256887,2019-06-10 01:10:54,2019-07-07 21:03:00,2019-07-07 23:28:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75
263942,2019-04-21 08:08:16,2019-04-28 17:30:00,2019-04-28 19:43:00,VALENCIA,MADRID,INTERCITY,Flexible,Turista,55.40
274827,2019-06-17 21:00:29,2019-06-23 21:03:00,2019-06-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSÃ³lo plaza H,55.40
278062,2019-04-27 17:08:49,2019-05-26 17:30:00,2019-05-26 19:43:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75
279458,2019-04-27 17:08:49,2019-05-26 17:30:00,2019-05-26 19:43:00,VALENCIA,MADRID,INTERCITY,Promo,Turista,43.75
307296,2019-06-19 23:28:29,2019-06-23 21:03:00,2019-06-23 23:28:00,VALENCIA,MADRID,INTERCITY,Flexible,TuristaSÃ³lo plaza H,55.40
321610,2019-05-03 15:18:26,2019-05-24 15:10:00,2019-05-24 17:20:00,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75
352451,2019-05-03 05:33:32,2019-05-24 15:10:00,2019-05-24 17:20:00,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75
356200,2019-05-03 15:18:26,2019-05-24 15:10:00,2019-05-24 17:20:00,MADRID,VALENCIA,INTERCITY,Promo,Turista,43.75

In [40]:
renfe2.drop_duplicates(inplace = True)

In [42]:
renfe2[renfe2.duplicated(keep=False)]

Empty DataFrame
Columns: [FECHA_CONSULTA, FECHA_INICIO, FECHA_FIN, CIUDAD_ORIGEN, CIUDAD_DESTINO, TIPO_TREN, TIPO_TARIFA, CLASE, PRECIO]
Index: []

In [43]:
renfe2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 355028 entries, 0 to 383567
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  355028 non-null  object
 1   FECHA_INICIO    355028 non-null  object
 2   FECHA_FIN       355028 non-null  object
 3   CIUDAD_ORIGEN   355028 non-null  object
 4   CIUDAD_DESTINO  355028 non-null  object
 5   TIPO_TREN       319585 non-null  object
 6   TIPO_TARIFA     319575 non-null  object
 7   CLASE           319474 non-null  object
 8   PRECIO          355028 non-null  float64
dtypes: float64(1), object(8)
memory usage: 27.1+ MB

In [44]:
renfe2.reset_index(inplace=True, drop= True)

In [45]:
renfe2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355028 entries, 0 to 355027
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  355028 non-null  object
 1   FECHA_INICIO    355028 non-null  object
 2   FECHA_FIN       355028 non-null  object
 3   CIUDAD_ORIGEN   355028 non-null  object
 4   CIUDAD_DESTINO  355028 non-null  object
 5   TIPO_TREN       319585 non-null  object
 6   TIPO_TARIFA     319575 non-null  object
 7   CLASE           319474 non-null  object
 8   PRECIO          355028 non-null  float64
dtypes: float64(1), object(8)
memory usage: 24.4+ MB

# Duplicated already removed
# rows with Null in PRECIO removed
# index reseted

In [46]:
renfe3 = renfe2.copy()

In [47]:
renfe3.isnull().value_counts()

FECHA_CONSULTA  FECHA_INICIO  FECHA_FIN  CIUDAD_ORIGEN  CIUDAD_DESTINO  TIPO_TREN  TIPO_TARIFA  CLASE  PRECIO
False           False         False      False          False           False      False        False  False     259053
                                                                                                True   False      28659
                                                                        True       False        False  False      28645
                                                                        False      True         False  False      28551
                                                                                                True   False       3322
                                                                        True       True         False  False       3225
                                                                                   False        True   False       3218
                                                                                   True         True   False        355
Name: count, dtype: int64

# in order to eliminate nulls, will asign them some values in every column. so that
# TIPO_TARIFA NULLs will be "desconocida"
# TIPO_TREN NULLs will be "sin_tipo"
# CLASE NULLs will be "desconocida"

In [49]:
renfe3["TIPO_TARIFA"].fillna("desconocida", inplace = True)
renfe3["TIPO_TREN"].fillna("sin_tipo", inplace = True)
renfe3["CLASE"].fillna("desconocida", inplace = True)

C:\Users\rafas\AppData\Local\Temp\ipykernel_11532\2025814111.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  renfe3["TIPO_TARIFA"].fillna("desconocida", inplace = True)
C:\Users\rafas\AppData\Local\Temp\ipykernel_11532\2025814111.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  renfe3["TIPO_TREN"].fillna("sin_tipo", inplace = True)
C:\Users\rafas\AppData\Local\Temp\ipykernel_11532\2025814111.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  renfe3["CLASE"].fillna("desconocida", inplace = True)

In [50]:
renfe3.isnull().sum()

FECHA_CONSULTA    0
FECHA_INICIO      0
FECHA_FIN         0
CIUDAD_ORIGEN     0
CIUDAD_DESTINO    0
TIPO_TREN         0
TIPO_TARIFA       0
CLASE             0
PRECIO            0
dtype: int64

In [76]:
renfe4 = renfe3.copy()

In [77]:
renfe4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355028 entries, 0 to 355027
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   FECHA_CONSULTA  355028 non-null  object
 1   FECHA_INICIO    355028 non-null  object
 2   FECHA_FIN       355028 non-null  object
 3   CIUDAD_ORIGEN   355028 non-null  object
 4   CIUDAD_DESTINO  355028 non-null  object
 5   TIPO_TREN       355028 non-null  object
 6   TIPO_TARIFA     355028 non-null  object
 7   CLASE           355028 non-null  object
 8   PRECIO          355028 non-null  float64
dtypes: float64(1), object(8)
memory usage: 24.4+ MB

# we create a new column named : DAYS_TO_TRIP 
# we create a new column named : JOURNEY_TIME 
# we need first at all, to change  "FECHA_CONSULTA" and "FECHA_INICIO" and "FECHA_FIN" to datetime format

In [78]:
renfe4["FECHA_INICIO"]=pd.to_datetime(renfe4["FECHA_INICIO"])
renfe4["FECHA_FIN"]=pd.to_datetime(renfe4["FECHA_FIN"])
renfe4["FECHA_CONSULTA"]=pd.to_datetime(renfe4["FECHA_CONSULTA"])

In [79]:
renfe4["DAYS_TO_TRIP"]= (renfe4["FECHA_INICIO"]-renfe4["FECHA_CONSULTA"])/np.timedelta64(1440,'m')

In [80]:
renfe4.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,DAYS_TO_TRIP
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,34.786771
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,21.871400
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30,36.302743
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,18.727789
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,47.737072

In [81]:
renfe4["DAYS_TO_TRIP"] = renfe4["DAYS_TO_TRIP"].round(2)

In [82]:
renfe4.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,DAYS_TO_TRIP
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,34.79
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,21.87
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30,36.30
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,18.73
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,47.74

In [83]:
renfe4["JOURNEY_TIME"]= (renfe4["FECHA_FIN"]-renfe4["FECHA_INICIO"])/np.timedelta64(1,'m')

In [84]:
renfe4.head()

,FECHA_CONSULTA,FECHA_INICIO,FECHA_FIN,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,DAYS_TO_TRIP,JOURNEY_TIME
0,2019-05-25 01:43:03,2019-06-28 20:36:00,2019-06-28 23:14:00,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,34.79,158.0
1,2019-06-22 13:05:11,2019-07-14 10:00:00,2019-07-14 13:10:00,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,21.87,190.0
2,2019-04-17 06:24:03,2019-05-23 13:40:00,2019-05-23 16:10:00,SEVILLA,MADRID,AVE,Promo,Turista,47.30,36.30,150.0
3,2019-05-10 21:21:59,2019-05-29 14:50:00,2019-05-29 22:30:00,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,18.73,460.0
4,2019-05-09 19:43:37,2019-06-26 13:25:00,2019-06-26 16:24:00,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,47.74,179.0

# Now we are going to split "FECHAS" so to get useful information from them and deleting what is not useful

In [86]:
for col in ['FECHA_CONSULTA', 'FECHA_INICIO', 'FECHA_FIN']:
    renfe4[col + '_HORA'] = renfe4[col].dt.hour
    renfe4[col + '_NOMBREDIA'] = renfe4[col].dt.day_name()
    ##O .dt.weekday_name
    renfe4[col + '_DIA'] = renfe4[col].dt.day
    renfe4[col + '_MES'] = renfe4[col].dt.month

    del renfe4[col]

In [87]:
renfe4.head()

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,DAYS_TO_TRIP,JOURNEY_TIME,FECHA_CONSULTA_HORA,FECHA_CONSULTA_NOMBREDIA,FECHA_CONSULTA_DIA,FECHA_CONSULTA_MES,FECHA_INICIO_HORA,FECHA_INICIO_NOMBREDIA,FECHA_INICIO_DIA,FECHA_INICIO_MES,FECHA_FIN_HORA,FECHA_FIN_NOMBREDIA,FECHA_FIN_DIA,FECHA_FIN_MES
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,34.79,158.0,1,Saturday,25,5,20,Friday,28,6,23,Friday,28,6
1,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,21.87,190.0,13,Saturday,22,6,10,Sunday,14,7,13,Sunday,14,7
2,SEVILLA,MADRID,AVE,Promo,Turista,47.30,36.30,150.0,6,Wednesday,17,4,13,Thursday,23,5,16,Thursday,23,5
3,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,18.73,460.0,21,Friday,10,5,14,Wednesday,29,5,22,Wednesday,29,5
4,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,47.74,179.0,19,Thursday,9,5,13,Wednesday,26,6,16,Wednesday,26,6

In [96]:
renfe5 = renfe4.copy()

In [97]:
renfe5["FECHA_INICIO_MES"].unique()

array([ 6,  7,  5, 10,  4,  8,  9])

# we realize we donÂ´t have any data about all months , so will delete any data related to months. Also day of the month, as every year can change along the weeks.

In [98]:

renfe5.drop(columns=["FECHA_INICIO_DIA","FECHA_CONSULTA_DIA","FECHA_CONSULTA_MES","FECHA_INICIO_MES", "FECHA_FIN_DIA", "FECHA_FIN_MES"],inplace=True)

In [99]:
renfe5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355028 entries, 0 to 355027
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CIUDAD_ORIGEN             355028 non-null  object
 1   CIUDAD_DESTINO            355028 non-null  object
 2   TIPO_TREN                 355028 non-null  object
 3   TIPO_TARIFA               355028 non-null  object
 4   CLASE                     355028 non-null  object
 5   PRECIO                    355028 non-null  float64
 6   DAYS_TO_TRIP              355028 non-null  float64
 7   JOURNEY_TIME              355028 non-null  float64
 8   FECHA_CONSULTA_HORA       355028 non-null  int32
 9   FECHA_CONSULTA_NOMBREDIA  355028 non-null  object
 10  FECHA_INICIO_HORA         355028 non-null  int32
 11  FECHA_INICIO_NOMBREDIA    355028 non-null  object
 12  FECHA_FIN_HORA            355028 non-null  int32
 13  FECHA_FIN_NOMBREDIA       355028 non-null  object
dtypes: float64(3), int32(3), object(8)
memory usage: 33.9+ MB

In [101]:
renfe5.head(5)

,CIUDAD_ORIGEN,CIUDAD_DESTINO,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,DAYS_TO_TRIP,JOURNEY_TIME,FECHA_CONSULTA_HORA,FECHA_CONSULTA_NOMBREDIA,FECHA_INICIO_HORA,FECHA_INICIO_NOMBREDIA,FECHA_FIN_HORA,FECHA_FIN_NOMBREDIA,TRIP
0,SEVILLA,MADRID,ALVIA,Flexible,Turista,67.20,34.79,158.0,1,Saturday,20,Friday,23,Friday,SEVILLA - MADRID
1,BARCELONA,MADRID,AVE,Flexible,Turista,107.70,21.87,190.0,13,Saturday,10,Sunday,13,Sunday,BARCELONA - MADRID
2,SEVILLA,MADRID,AVE,Promo,Turista,47.30,36.30,150.0,6,Wednesday,13,Thursday,16,Thursday,SEVILLA - MADRID
3,VALENCIA,MADRID,REGIONAL,Adulto ida,Turista,28.35,18.73,460.0,21,Friday,14,Wednesday,22,Wednesday,VALENCIA - MADRID
4,MADRID,BARCELONA,AVE-TGV,Promo,Turista,66.75,47.74,179.0,19,Thursday,13,Wednesday,16,Wednesday,MADRID - BARCELONA

# Create TRIP column
# after that we delete "CIUDAD_ORIGEN" and "CIUDAD_DESTINO"

In [100]:
renfe5["TRIP"]=renfe5['CIUDAD_ORIGEN']+" - " + renfe5["CIUDAD_DESTINO"]

In [102]:
del(renfe5["CIUDAD_ORIGEN"])
del(renfe5["CIUDAD_DESTINO"])

In [103]:
renfe5.head(5)

,TIPO_TREN,TIPO_TARIFA,CLASE,PRECIO,DAYS_TO_TRIP,JOURNEY_TIME,FECHA_CONSULTA_HORA,FECHA_CONSULTA_NOMBREDIA,FECHA_INICIO_HORA,FECHA_INICIO_NOMBREDIA,FECHA_FIN_HORA,FECHA_FIN_NOMBREDIA,TRIP
0,ALVIA,Flexible,Turista,67.20,34.79,158.0,1,Saturday,20,Friday,23,Friday,SEVILLA - MADRID
1,AVE,Flexible,Turista,107.70,21.87,190.0,13,Saturday,10,Sunday,13,Sunday,BARCELONA - MADRID
2,AVE,Promo,Turista,47.30,36.30,150.0,6,Wednesday,13,Thursday,16,Thursday,SEVILLA - MADRID
3,REGIONAL,Adulto ida,Turista,28.35,18.73,460.0,21,Friday,14,Wednesday,22,Wednesday,VALENCIA - MADRID
4,AVE-TGV,Promo,Turista,66.75,47.74,179.0,19,Thursday,13,Wednesday,16,Wednesday,MADRID - BARCELONA

In [105]:
renfe5["TIPO_TREN"].value_counts(normalize=True)*100

TIPO_TREN
AVE          63.852992
sin_tipo      9.983156
ALVIA         5.363802
REGIONAL      4.673153
INTERCITY     4.628086
AV City       2.595288
MD-LD         1.909427
AVE-TGV       1.255112
R. EXPRES     1.163570
TRENHOTEL     1.067240
LD            1.027806
AVE-LD        0.804725
AVE-MD        0.662201
LD-MD         0.660793
MD-AVE        0.214913
MD            0.137736
Name: proportion, dtype: float64

In [106]:
corr = renfe5.corr(numeric_only=True)

In [109]:
corr.style.background_gradient(cmap="coolwarm")